@icon-green-color: #cef9c6;
@icon-blue-color: #e3efff;
@icon-yellow-color: #fff8dd;
@icon-content-color: #3d3a2c;
@main-content-background-color: #eeebe5;

@aside-background-color: #000000;
@aside-profile-background-color: #202020;
@aside-secondary-text-color: #9b9b9b;
@aside-main-text-main-color: #FFFFFF;

@nav-color: #5a5a5a;
@nav-active-color: #000000;
@nav-active-line-color: #ffc200;
@header-nav-padding-left: 2.5rem;

@btn-grey-background-color: #eaeaea;
@btn-grey-color: #000000;
@btn-yellow-background-color: #fff8dd;
@btn-yellow-color: #ffc200;
@btn-dark-grey-color: #9b9b9b;

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

aside {
    width: 270px;
    background-color: @aside-background-color;
    display: flex;
    flex-direction: column;
}

.aside {
    &-padding {
        padding-left: 30px;
    }

    &-title {
        margin: 30px 0;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;

        & h2 {
            color: @aside-main-text-main-color;
            margin: 0 0 0 32px;
            font-size: 16px;

            &::before {
                position: absolute;
                width: 40px;
                height: 100%;
                content: "";
                background: url(../assets/Logo@3x.svg) no-repeat;
                background-size: 24px;
                left: -32px;
            }
        }

        & button {

            cursor: pointer;
            background-color: @aside-background-color;
            border: none;
            outline: none;

            & img {
                width: 16px;
            }
        }
    }

    &-profile {
        padding-right: 10px;
        background-color: @aside-profile-background-color;
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: space-between;


        & .user-details {
            margin-right: -8px;

            & button {
                height: 40px;
                min-width: 40px;
                background: none;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-radius: 20px;
                outline: none;
                padding: 0;
                margin: 0;
            }
        }

        & .user-card {
            display: flex;

            & img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-right: 16px;
            }

            & .user-data {
                display: flex;
                flex-direction: column;
                justify-content: center;

                & .user-name {
                    color: @aside-main-text-main-color;
                    font-size: 14px;
                    margin: 0;
                }

                & .user-state {
                    color: @aside-secondary-text-color;
                    font-size: 12px;
                    margin: 2px 0 0 0;
                }
            }
        }
    }

    &-tasks {
        margin: 20px 0 32px 0;
        display: flex;
        justify-content: space-between;

        & .task {
            width: 49%;

            & .task-count {
                user-select: none;
                color: @aside-main-text-main-color;
                font-size: 20px;
                margin: 0;
            }

            & .task-description {
                color: @aside-secondary-text-color;
                margin: 0;
                font-size: 12px;
            }
        }
    }

    &-nav {
        display: flex;
        flex-direction: column;


        & p {
            margin: 8px 0;
            color: @aside-secondary-text-color;
            font-size: 12px;
            line-height: 22px;
        }

        & a {
            margin: 8px 0;
            color: @aside-main-text-main-color;
            font-size: 14px;
            line-height: 22px;
            text-decoration: none;

            & span {
                display: inline-block;
                margin-left: 9px;
                font-size: 13px;
                line-height: 20px;
                color: @nav-active-color;
                background-color: @nav-active-line-color;
                height: 20px;
                width: 20px;
                text-indent: -1px;
                text-align: center;
                border-radius: 50%;
            }
        }
    }
}

div.main-wrapper {
    flex-grow: 1;
    display: flex;
    min-width: 900px;
    flex-direction: column;

    header {
        padding: 40px 30px 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .header-title {
            padding-left: @header-nav-padding-left;
            display: flex;
            align-items: center;

            & .logo {
                background-color: @nav-active-line-color;
                width: 40px;
                height: 40px;
                border-radius: 10px;
                background-size: 102% 102%;
                background-position: -1px -1px;
                background-image: url(../assets/Shapes@2x.png);
            }

            & h1 {
                font-weight: normal;
                margin: 0 11px 0 15px;
                font-size: 32px;
            }
        }

        & .header-controls {
            display: flex;

            &>img {
                height: 30px;
                border-radius: 50%;
                margin-right: 5px;
                cursor: pointer;

            }
        }
    }

    nav {
        padding-left: @header-nav-padding-left;

        & a {
            color: @nav-color;
            font-size: 16px;
            text-decoration: none;
            margin-right: 30px;
            border-bottom: 2px solid white;
            display: inline-block;
            padding-bottom: 14px;

            &:hover {
                color: @nav-active-color;
                border-bottom: 2px solid @nav-active-line-color;
            }
        }
    }

    .content-wrapper {
        background-color: @main-content-background-color;
        flex-grow: 1;
        padding: 30px 0;
    }

    .container {
        background-color: white;
        width: 62%;
        margin: auto;
        padding: 35px 30px 60px 30px;
        border-radius: 8px;

        & h4 {
            margin: 0 0 32px 0;
            font-size: 14px;
            font-weight: normal;
        }

        & .comment_container {
            min-height: 30px;
            margin-left: 40px;
            margin-bottom: 30px;
            padding-left: 20px;
            display: flex;
            justify-content: space-between;

            & .time {
                min-width: 80px;
                font-size: 14px;
            }

            & .content {

                & p {
                    margin: 0;
                    font-size: 16px;
                    line-height: 18px;
                    width: 65%;
                    min-height: 40px;
                    display: flex;
                    align-items: center;

                    &.coment {
                        margin: 20px 0 0 0;
                        font-size: 15px;
                        line-height: 20px;
                        background-color: @main-content-background-color;
                        width: 100%;
                        padding: 20px 30px;
                        border-radius: 10px;
                    }
                }

                & .images {
                    width: 75%;
                    margin-top: 20px;

                    & img {
                        float: left;
                        width: 100px;
                        margin: 0 10px 10px 0;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}

.icon {
    &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        color: @icon-content-color;
        top: 0;
        left: -40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-download::before {
        font-size: 12px;
        content: "\f019";
    }

    &-comment::before {
        font-size: 12px;
        font-weight: bold;
        content: "\f27a";
    }

    &-ok::before {
        content: url(../assets/Icon@3x.svg);
    }

    &-yellow::before {
        background-color: @icon-yellow-color;
    }

    &-green::before {
        background-color: @icon-green-color;
    }

    &-blue::before {
        background-color: @icon-blue-color;
    }
}

.btn {
    height: 30px;
    min-width: 30px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    outline: none;
    font-size: 14px;
    padding: 0 15px;

    &>img {
        height: 60%;
        margin-right: 8px;
    }

    &-grey {
        background-color: @btn-grey-background-color;
        color: @btn-grey-color;
    }

    &-yellow {
        background-color: @btn-yellow-background-color;
        color: @btn-yellow-color;
    }
}

& .dots {
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: @aside-secondary-text-color;

    &::before {
        position: absolute;
        left: -6px;
        top: 0;
        display: block;
        content: "";
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background-color: inherit;
    }

    &::after {
        position: absolute;
        left: 6px;
        top: 0;
        display: block;
        content: "";
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background-color: inherit;
    }
}

.margin {
    &-v {
        &-15 {
            margin: 0 15px;
        }
    }
}