html {
  height: 100%;
}
* {
  box-sizing: border-box;
  position: relative;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}
aside {
  min-width: 350px;
  max-width: 455px;
  width: 21%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}
.aside-padding {
  padding-right: 1.5rem;
  padding-left: 2.5rem;
}
.aside-title {
  margin: 2.5rem 0;
  display: flex;
  justify-content: space-between;
}
.aside-title h2 {
  color: #FFFFFF;
  margin: 0 0 0 3rem;
  font-size: 1.3rem;
}
.aside-title h2::before {
  position: absolute;
  width: 40px;
  height: 100%;
  content: "";
  background: url(../assets/Logo@3x.svg) no-repeat;
  background-size: 32px;
  left: -3rem;
}
.aside-title button {
  cursor: pointer;
  background-color: #000000;
  border: none;
  outline: none;
}
.aside-title button img {
  width: 130%;
}
.aside-profile {
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.aside-profile .dots {
  color: #9b9b9b;
}
.aside-profile .user-card {
  display: flex;
}
.aside-profile .user-card img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 1rem;
}
.aside-profile .user-card .user-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aside-profile .user-card .user-data .user-name {
  color: #FFFFFF;
  margin: 0;
}
.aside-profile .user-card .user-data .user-state {
  color: #9b9b9b;
  margin: 0;
}
.aside-tasks {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}
.aside-tasks .task {
  width: 48%;
}
.aside-tasks .task .task-count {
  color: #FFFFFF;
  font-size: 1.5rem;
  margin: 0;
}
.aside-tasks .task .task-description {
  color: #9b9b9b;
  margin: 0;
  font-size: 0.95rem;
}
.aside-nav {
  display: flex;
  flex-direction: column;
}
.aside-nav p {
  margin: 1rem 0;
  color: #9b9b9b;
  font-size: 1rem;
}
.aside-nav a {
  margin: 0.9rem 0;
  color: #FFFFFF;
  font-size: 1.1rem;
  text-decoration: none;
}
.aside-nav a span {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.05rem;
  color: #000000;
  background-color: #ffc200;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  border-radius: 50%;
}
div.main-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
div.main-wrapper header {
  padding: 3rem 0 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.main-wrapper header .header-title {
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
}
div.main-wrapper header .header-title .logo {
  background-color: #ffc200;
  width: 55px;
  height: 55px;
  border-radius: 10px;
  background-size: 102% 102%;
  background-position: -1px -1px;
  background-image: url(../assets/Shapes@2x.png);
}
div.main-wrapper header .header-title h1 {
  font-weight: normal;
  margin: 0 1rem;
  font-size: 2.7rem;
}
div.main-wrapper header .header-controls {
  display: flex;
}
div.main-wrapper header .header-controls > img {
  height: 40px;
  border-radius: 50%;
  margin-right: 0.6rem;
  cursor: pointer;
}
div.main-wrapper nav {
  padding-left: 2.5rem;
}
div.main-wrapper nav a {
  color: #5a5a5a;
  font-size: 1.3rem;
  text-decoration: none;
  margin-right: 2.3rem;
  border-bottom: 3px solid white;
  display: inline-block;
  padding-bottom: 1rem;
}
div.main-wrapper nav a:hover {
  color: #000000;
  border-bottom: 3px solid #ffc200;
}
div.main-wrapper .content-wrapper {
  background-color: #eeebe5;
  flex-grow: 1;
  padding: 2.5rem 0;
}
div.main-wrapper .container {
  background-color: white;
  width: 62%;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
}
div.main-wrapper .container h4 {
  margin: 1rem 0 2.5rem -2.5rem;
  font-size: 1.1rem;
  left: 45px;
  font-weight: normal;
}
div.main-wrapper .container section {
  min-height: 50px;
  margin-left: 50px;
  margin-bottom: 2rem;
  padding-left: 2.5rem;
  display: flex;
}
div.main-wrapper .container section .time {
  min-width: 80px;
  font-size: 1.2rem;
}
div.main-wrapper .container section .content p {
  margin: 0;
  font-size: 1.3rem;
  width: 80%;
}
div.main-wrapper .container section .content p.coment {
  margin: 1.5rem 0 0.5rem 0;
  font-size: 1.25rem;
  background-color: #eeebe5;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
}
div.main-wrapper .container section .content .images {
  width: 75%;
  display: flex;
  margin: 1.5rem 0 0 1.5rem;
  justify-content: space-between;
}
div.main-wrapper .container section .content .images img {
  width: 23%;
  border-radius: 10%;
}
.icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  color: #3d3a2c;
  top: 0;
  left: -45px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-profile::before {
  content: "\f007";
}
.icon-comment::before {
  content: "\f27a";
  font-weight: bold;
}
.icon-ok::before {
  content: url(../assets/Icon@3x.svg);
}
.icon-yellow::before {
  background-color: #fff8dd;
}
.icon-green::before {
  background-color: #cef9c6;
}
.icon-blue::before {
  background-color: #e3efff;
}
.btn {
  height: 40px;
  min-width: 40px;
  margin: 0 2rem 0 0;
  background: none;
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  padding: 0 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn > img {
  height: 60%;
  margin-right: 0.5rem;
}
.btn-grey {
  background-color: #eaeaea;
  color: #000000;
}
.btn-yellow {
  background-color: #fff8dd;
  color: #ffc200;
}
