html {
  height: 100%;
}
* {
  box-sizing: border-box;
  position: relative;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}
aside {
  width: 270px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}
.aside-padding {
  padding-left: 30px;
}




div.main-wrapper {
  flex-grow: 1;
  display: flex;
  min-width: 900px;
  flex-direction: column;
}
div.main-wrapper header {
  padding: 40px 30px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.main-wrapper header .header-title {
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
}
div.main-wrapper header .header-title .logo {
  background-color: #ffc200;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-size: 102% 102%;
  background-position: -1px -1px;
  background-image: url(../assets/Shapes@2x.png);
}
div.main-wrapper header .header-title h1 {
  font-weight: normal;
  margin: 0 11px 0 15px;
  font-size: 32px;
}
div.main-wrapper header .header-controls {
  display: flex;
}
div.main-wrapper header .header-controls > img {
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}
div.main-wrapper nav {
  padding-left: 2.5rem;
}
div.main-wrapper nav a {
  color: #5a5a5a;
  font-size: 16px;
  text-decoration: none;
  margin-right: 30px;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 14px;
}
div.main-wrapper nav a:hover {
  color: #000000;
  border-bottom: 2px solid #ffc200;
}
div.main-wrapper .content-wrapper {
  background-color: #eeebe5;
  flex-grow: 1;
  padding: 30px 0;
}
div.main-wrapper .container {
  background-color: white;
  width: 62%;
  margin: auto;
  padding: 35px 30px 60px 30px;
  border-radius: 8px;
}
div.main-wrapper .container h4 {
  margin: 0 0 32px 0;
  font-size: 14px;
  font-weight: normal;
}
div.main-wrapper .container section {
  min-height: 30px;
  margin-left: 40px;
  margin-bottom: 30px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
div.main-wrapper .container section .time {
  min-width: 80px;
  font-size: 14px;
}
div.main-wrapper .container section .content p {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  width: 65%;
  min-height: 40px;
  display: flex;
  align-items: center;
}
div.main-wrapper .container section .content p.coment {
  margin: 20px 0 0 0;
  font-size: 15px;
  line-height: 20px;
  background-color: #eeebe5;
  width: 100%;
  padding: 20px 30px;
  border-radius: 10px;
}
div.main-wrapper .container section .content .images {
  width: 75%;
  margin-top: 20px;
}
div.main-wrapper .container section .content .images img {
  float: left;
  width: 100px;
  margin: 0 10px 10px 0;
  border-radius: 8px;
}
.icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  color: #3d3a2c;
  top: 0;
  left: -40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-download::before {
  font-size: 12px;
  content: "\f019";
}
.icon-comment::before {
  font-size: 12px;
  font-weight: bold;
  content: "\f27a";
}
.icon-ok::before {
  content: url(../assets/Icon@3x.svg);
}
.icon-yellow::before {
  background-color: #fff8dd;
}
.icon-green::before {
  background-color: #cef9c6;
}
.icon-blue::before {
  background-color: #e3efff;
}
.btn {
  height: 30px;
  min-width: 30px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  font-size: 14px;
  padding: 0 15px;
}
.btn > img {
  height: 60%;
  margin-right: 8px;
}
.btn-grey {
  background-color: #eaeaea;
  color: #000000;
}
.btn-yellow {
  background-color: #fff8dd;
  color: #ffc200;
}
.dots {
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #9b9b9b;
}
.dots::before {
  position: absolute;
  left: -6px;
  top: 0;
  display: block;
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
}
.dots::after {
  position: absolute;
  left: 6px;
  top: 0;
  display: block;
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
}
.margin-v-15 {
  margin: 0 15px;
}
